@tailwind base;
@tailwind components;
@tailwind utilities;


*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 1;
}
ul,ol,dl{
    list-style: none;
}
a{
    text-decoration: none;
}
.list-bg {
    background: rgb(249, 250, 255);
    padding: 10px;
}
.list-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-align: left;
}
.list-item h3{
    font-size: 20px;
    font-weight: 800;
}
.list-item p {
    color: grey;
    margin : 5px 0px;
}
.write{
    padding:0 15px;
}
.write form{
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
} 
.write form > *{
    display: block;
    width: 100%;
    margin-top:15px;
}
.write input, .write button{
    height: 50px;
}

input , textarea {
    border:1px solid #ddd;
}

.write textarea{
    height: 300px;
    padding: 10px;
}
.p-20 {
padding: 20px;
}
input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 0;
    height: 40px;
}
button {
    padding: 10px 15px;
    background: lightgray !important;
    border: none;
    border-radius: 5px;
    font-size: 12px;
} 
.navbar {
    background: white;
    padding: 20px;
}
.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
.logo {
    font-weight: bold;
}
.main{
    padding:100px 20px;
}
.lnb{
    padding: 5px 0;
    border-bottom:1px solid #d5d5d5;
    gap:10px
}
.lnb span{
    display: inline-block;
    padding-right: 10px;
}
footer {
    padding: 50px 20px;
}
.delBtn{
    margin-left: 5px;
}
/* 애니메이션 효과 */
.list-item{
    opacity: 1;
    transition:  all 1s;
}

.commentBox button{
    height: 40px;
}
.likeBtn {
    text-align: right;
    font-size: 12px;
    padding:15px 0;
}
.likeBtn button{
    background: #000 !important;
}
.likeBtn button.on{
    color: yellow !important;
    font-weight: 700;
}
.commentBg{
    text-align: left;
    padding-top: 10px;
}