/* @tailwind base;
@tailwind components;
@tailwind utilities; */


*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

}
ul,ol,dl{
    list-style: none;
}
a{
    text-decoration: none;
}
.list-bg {
    background: rgb(249, 250, 255);
    padding: 10px;
}
.list-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}
.list-item p {
    color: grey;
    margin : 5px 0px;
}
.write{
    padding:0 15px;
}
.write form{
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
} 
.write form > *{
    display: block;
    width: 100%;
    margin-top:15px;
}
.write input, .write button{
    height: 50px;
}

.write textarea{
    height: 300px;
    padding: 10px;
}
.p-20 {
padding: 20px;
}
input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}
button {
    padding: 10px 15px;
    background: lightgray;
    border: none;
    border-radius: 5px;
} 
.navbar {
    background: white;
    padding: 20px;
}
.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
.logo {
    font-weight: bold;
}
.main{
    padding:100px 20px;
}
footer {
    padding-top: 100px;
    padding-left:  20px;
}